@charset "utf-8";

html, body {cursor: url('../common/images/cursor.cur') 4 12, auto;}

/* main */
main .about {background: url(images/bg1.png)no-repeat 50% / cover; padding: 14.7vw 0 12vw; padding-left: 11.4vw;}
main .about .blinking img {width: 100%; position: absolute; top: 0; left: 0;}
main .blinking{-webkit-animation:blink 0.8s ease-in-out infinite alternate; -moz-animation:blink 0.8s ease-in-out infinite alternate; animation:blink 0.8s ease-in-out infinite alternate;}
@-webkit-keyframes blink{ 0% {opacity:0;} 100% {opacity:1;} }
@-moz-keyframes blink{ 0% {opacity:0;} 100% {opacity:1;} }
@keyframes blink{ 0% {opacity:0;} 100% {opacity:1;} }

main .txt {font-family: 'Cafe24Ohsquare', sans-serif;}
main .txt h1, h2 {font-weight: 100;}
main .txt h1 {font-size: 2.6vw;}
main .txt h2 {font-size: 1.6vw; padding-bottom: 1vw;}
main .txt p {font-size: 2.1vw;}
main .txt #bg {color: black; background-color: white; display: inline-block; margin: 0;}
main .txt .text {padding-top: 0.5vw;}
main .txt .text p {font-family: 'AppleSDGothicNeo', sans-serif; font-size: 1.2vw; line-height: 2.1;}

main .skill {background-color: white; color: black; overflow: hidden;}
main .skill .program {font-family: 'Sequel100Black', sans-serif; font-size: 1.81vw; padding: 3.8vw 0 0; margin-bottom: 5vw; width: 100%;}
main .skill .program:hover {color: rgb(0, 255, 255); transition: 0.2s;}
main .skill .contents {display: flex; justify-content: space-around; margin-bottom: 10vw; padding: 0 6vw;}
main .skill img {width: 7.9vw;}
main .skill .contents .line {border-bottom: black solid 1px; width: 1vw; margin-bottom: 4vw;}
main .skill .contents p {font-weight: bold; font-size: 0.9vw; margin-bottom: 3.2vw;}
main .skill .contents .do {line-height: 2.1; font-family: 'AppleSDGothicNeo', sans-serif; padding-top: 2.6vw; font-size: 0.85vw;}

/* footer */
footer {background-color: white; color: #000; padding-bottom: 7.6vw;}